    <section id="section_one">
        <div class="fav_info">
            <h1 class="main-header">These are my three favourite things</h1>
            <p>So many things give me joy, but these three things actually make me feel alive</p>
        </div>
    </section>


    <section id="container">
        
        <div class="information">
        {{#each team}}
        <div class="panel">
            <img src="images/{{ IMAGE }}" alt="image">

            <a class="u-link" href="{{ ID }}">View More</a>

            <h1>{{ TITTLE }}</h1>
            <h3{{ DESCRIPTION }}></h3>
            {{!-- <h4>{{ Favourite }}</h4> --}}

        </div>
          
        </div>

        {{/each}}
    </section>

